<table style="width: 200px; height: 150px; margin-top: 10px; margin-bottom: 10px; margin-left: 25px;">
    <tr>
        <td style="border-bottom-color: green;"><span style="color: green; font-weight: bold;">{{provincia.provincia}}</span></td>
    </tr>
    <tr>
        <td><img src="assets/img/{{provincia.bandera}}" alt=""></td>
    </tr>
    <tr>
        <td>Capital-{{provincia.capital}}</td>
    </tr>
    <tr>
        <td><a href="/detalle/{{provincia.abreviatura}}"><button>VER MAS</button></a></td>
    </tr>
</table>
