<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <img style="width: 200px; height: 300px;" src="assets/img/{{heroe.img}}" alt=""><br>
            <a class="btn btn-primary" href="/home">VOLVER</a>
        </div>
        <div class="col-4">
            <div class="row">
                <span><b>Nombre: &nbsp;</b></span>
                <span>{{heroe.nombre}}</span><br>
            </div>
            <div class="row">
                <span><b>Casa: &nbsp;</b></span>
                <span>{{heroe.casa}}</span><br>
            </div>
            <div class="row">
                <span><b>Bio: &nbsp;</b></span>
                <span>{{heroe.bio}}</span><br>
            </div>
            <div class="row">
                <div class="col">
                    <span><b>Poderes: </b></span>
                </div>
                <div class="col">
                    <li *ngFor="let poder of heroe.poderes">{{poder}}</li>
                </div><br>
            </div>
            <div class="row">
                <span><b>Aparición: &nbsp;</b></span>
                <span>{{heroe.aparicion}}</span>
            </div>
        </div>
    </div>
</div>
